html,
body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content-wrap {
  flex: 1;
}

footer {
  height: 60px;
}

textarea {
  max-width: 50%;
  max-height: 100px;
}

#post_title_input {
  max-width: 50%;
}
