{% extends "base.html" %}

{% block title %}All Users{% endblock %}

{% block content %}
    <h1 class="my-3">Blogly Recent Posts</h1>
    <ul class="container-sm">
        {% for post in posts %}
        <li class="post_details my-3">
            <h2>{{post.title}}</h2>
            <p>{{post.content}}</p>
            <span>By <i>{{post.user.get_full_name}}</i> on {{post.friendly_date}}</span>
        </li>
        {% endfor %}
    </ul>
    <form action="/users" method="get" class="text-center my-3">
        <button class="btn btn-primary">Users Directory</button>
    </form>
{% endblock %}
